<main class="container-fluid image">
<div class="row">
<div class="col-md-3">
  <div class="auth"> <a role="button" class="btn btn-dark custom_btn" href="index.php?route=main/leave" >Выйти из учетной записи</a> </div>
</div>
<div class="col-md-6">
<section class="invitation" id="content">
<h4>
	Результат
</h4>
</div>
<div class="col-md-3">
  <div class="label"> <span class="slogan">Web-Cession</span>
    <p class="descriptor">Веб-сервис по расчету дисконта по договорам цессий</p>
  </div>
</div>
</div>
<div class="row">
  <div class="container-fluid start"> <a id="generate" role="button" class="btn btn-dark custom_btn btn-lg" 
href="index.php?route=work/result/show">Запустить анализ</a> </div>
</div>
<div class="row">
	<div class="col-md-8 reg" id="result"></div>
	</div>
</main>