<body class="bg">
<header class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <a class="navbar-brand" href="#"><i class="fas fa-balance-scale fa-2x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="main" href="index.php">Главная <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" id="about" href="#">О проекте</a>
      <a class="nav-item nav-link" id="use" href="#">Как использовать</a>
	<? if(isset($_SESSION['token'])):?>
		<a class="nav-item nav-link" id="test" href="index.php?route=main/start">Приступить к работе</a>
		<?endif?>
		
    </div>
  </div>
</header>

